<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">Veterinaria Kuarahy</ion-title>
    <ion-title size="small" class="ion-text-center">Control de Vacunas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-select label="Cliente" placeholder="" [(ngModel)]="cliente" (ionChange)="cargarSelectMascotas()">
      <ion-select-option  [value]="item.ClienteID" *ngFor="let item of clientes">{{item.NombreApelllido}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select label="Mascota" placeholder="" [(ngModel)]="mascota">
      <ion-select-option [value]="item.MascotaID" *ngFor="let item of mascotas">{{item.Nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button size="small" (click)="verHistorial()">Ver Historial</ion-button>

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Fecha Vacunacion</ion-col>
      <ion-col>Vacuna</ion-col>
      <ion-col>Costo</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of vacunas">
      <ion-col>{{item.FechaVacunacion}}</ion-col>
      <ion-col>{{item.vacuna}}</ion-col>
      <ion-col>{{item.costo}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
